extends layout

block content
  .all-users-container#users
    input.search(type="text" placeholder="Search")
    ul.all-users.list
  script(type="text/javascript").
    var value = '#{allUsers}'
    var obj = jQuery.parseJSON( value.replace(/&quot;/g,'\"') );
    var rend = '';
    $.each( obj, function( key, value ) {
      var newUser
      if(value.isEntered){
         newUser = '<li class="entered"><a href="/changeuser/' +value._id + '"></a><h5 class="name">'+ value.firstName + ' ' + value.lastName + '</h5> <p class="invited"> Invited by: ' + value.invited + '</p></li>'
      }else{
         newUser = '<li><a href="/changeuser/' +value._id + '"></a><h5 class="name">'+ value.firstName + ' ' + value.lastName + '</h5> <p class="invited"> Invited by: ' + value.invited + '</p></li>'
      }

      rend = rend + newUser;
    });
    $( ".all-users" ).append( rend );
    var options = {
      valueNames: [ 'name' ]
    };

    var userList = new List('users', options);
