extends layout

block content
  .all-users-container
    ul.all-users
  script(type="text/javascript").
    var value = '#{allUsers}'
    var obj = jQuery.parseJSON( value.replace(/&quot;/g,'\"') );
    var rend = '';
    $.each( obj, function( key, value ) {
      var newUser
      if(value.isEntered){
         newUser = '<li class="entered">'+ value.firstName + ' ' + value.lastName + '</br> ' + value.email + '</br> Invited by: ' + value.invited + '</li>'
      }else{
         newUser = '<li>'+ value.firstName + ' ' + value.lastName + '</br> ' + value.email + '</br> Invited by: ' + value.invited + '</li>'
      }

      rend = rend + newUser;
    });
    $( ".all-users" ).append( rend );
