extends layout

block content
    div.image-container
      img(src="http://dgty-promo.com/wp-content/uploads/2013/10/Logo_Tranc3motion_site.png")
    div.form-container
      .title Please enter your credentials to get your
        span.brand  fr
          span.revert E
          span e
        span  ticket
      form.form-container(name="add-estimation", method="post", action="/users")
          label First Name
          input(type="text", name="firstName", data-validation="required")
          label Last Name
          input(type="text", name="lastName",data-validation="required")
          label Invited by
          input(type="text", name="invited",data-validation="required")
          label Registration Code
          input(type="text", name="code",data-validation="required")
          if code
            p.error #{code}.
          label Email
          input(type="text", name="email", data-validation="email")
          div.actions
              input(type="submit", value="Get Ticket")


    script(type="text/javascript").
      $.validate({
       modules : 'html5'
      });
