extends layout

block content
    div.image-container
      img(src="http://dgty-promo.com/wp-content/uploads/2013/10/Logo_Tranc3motion_site.png")
    div.form-container
      .title Please enter your credential to get your
        span.brand  fr
          span.revert E
          span e
        span  ticket
      form.form-container(name="add-estimation", method="post", action="/users")
          label First Name
          input(type="text", name="firstName")
          label Last Name
          input(type="text", name="lastName")
          label Email
          input(type="text", name="email")
          div.actions
              input(type="submit", value="Get Ticket")
